$black: #060F12;
$light-green: #59F5BC;
$light-gray: #EFF1F2;
$gray: #9296AD;
$green: #5DAF54;
$red: #AF5457;
$dark-blue: #122025;
$light-blue: #00a1e4;
$main-bg: #202428;


/* [ Invoice/Order status color ] */
$total: #707070;
$pending: #55D8FE;
$confirmed: #5FE3A1;
$rejected: #FF8373; /* REJECTED */
$processing: #FFDA83;


/* [ Product page table ] */
$tablehead: #393939;
$tablebody: #222;
$tabletext: #fff;

/* Sidebar nav_link active class */
$active-sidebar: #3C434D;


/* Box Shadow */
$box-shadow: 0 16px 24px 2px rgba(33,37,41,.02),
0 6px 30px 5px rgba(33,37,41,.04),
0 8px 10px -5px rgba(33,37,41,.1);